.toast_wrapper {
    position: fixed!important;
    z-index: 11;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 600px) {
    .toast_wrapper {
        width: 100%!important;
    }
    .toast {
        width: auto;
    }
}

@media screen and (min-width: 600px) {
    .toast {
        width: 300px;
    }
}

.toast {
    align-content: flex-end;
    display: block;
    margin: 10px;
    font-size: 0.875rem;
    pointer-events: auto;
    background-color: rgb(0, 0, 0);
    background-clip: padding-box;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 0.75rem;
    justify-content: bottom;
    transition: all 0.5s ease-in-out;
}

.toast:not(.showing):not(.show) {
    display: none;
}

.toast-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    pointer-events: none;
}

.toast-container> :not(:last-child) {
    margin-bottom: 0.75rem;
}

.toast-header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    background-clip: padding-box;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
    border-top-left-radius: calc(0.75rem - 1px);
    border-top-right-radius: calc(0.75rem - 1px);
}

.toast-header .btn-close {
    margin-right: -0.375rem;
    margin-left: 0.75rem;
}

.toast-body {
    padding: 0.75rem;
    word-wrap: break-word;
}

.me-auto {
    margin-right: auto !important;
}

.text-muted {
    margin: 0px 10px;
    color: #6c757d !important;
}

.btn-toast {
    cursor: pointer;
}

.btn-toast:hover {
    opacity: 50%;
}