{% extends "base.html" %} {% block extendmenu %}{% endblock extendmenu %} {% block title %}{{str.guest}} - {% endblock title%} {% block head %} {% comment %}
<link rel="stylesheet" href="/static/assets/css/base.css" /> {% endblock head%} {% block body %} {% endcomment %} {% endblock head %} {% block body %}
<link rel="stylesheet" href="/static/assets/css/login.css" />

<!-- <style>
    form input {
        border-radius: 10px;
        border: none;
        font-family: 'pjs';
    }
    
    form input.input {
        background-color: rgba(255, 255, 255, 0.15);
        color: white;
        width: 248px;
        margin: 8px 0px;
        padding: 10px 10px 10px 40px;
    }
</style> -->
<form method="post" enctype="multipart/form-data">
    <table style='justify-content: flex-end;'>
        {% csrf_token %}

        <tr>
            <td>
                <input placeholder='{{str.name}}' type="text" name="name" class="input">
            </td>
        </tr>
        <tr>
            <td><input placeholder='NIS/NIP' type="text" name="eid" class="input"></td>
        </tr>
        <tr>
            <td>
                <input placeholder='{{str.phone}}' ' type="phone" name="phone" class="input"></td>
        </tr>
        <tr>
            <td><input placeholder="{{str.avatar}}" type="file" name="avatar" class="input"></td>
        </tr>
        <tr>
            <td><input placeholder='{{str.password}} ' type="password" name="password" class="input"></td>
        </tr>
        <tr>
            <td><input placeholder='{{str.confirm_password}} ' type="password" name="_password" class="input"></td>
        </tr>
    </table>
    <input class='btn ' type="submit" value="{{str.register}}" style="margin-top: 10px;">
</form>
{% endblock body%}