{% extends "base.html" %} {% block extendmenu %}{% endblock extendmenu %} {% block title %}{{str.help}} - {% endblock title%} {% block head %}
<!-- <link rel="stylesheet" href="/static/assets/css/base.css"/> -->
{% endblock head%} {% block body %}
<h1>Bantuan</h1>
<p>Hubungi kontak darurat adminitrator</p>
<style>
    a.normalize {
        color: white;
    }
</style>
<table style="text-align:left;margin:auto">
    <tbody>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td>Alfian Badrul Isnan</td>
        </tr>
        <tr>
            <td>NPM</td>
            <td>:</td>
            <td>1806148643</td>
        </tr>
        <tr>
            <td>Whatsapp</td>
            <td>:</td>
            <td><a class="normalize" href="https://api.whatsapp.com/send?phone=6281318609028&text=Halo,%20saya%20ingin%20meminta%20bantuan%20terkait%20sistem%20portal%20SSO%20SMA%20Negeri%201%20Cibadak">+6281318609028</a></td>
        </tr>
        <tr>
            <td>Instagram</td>
            <td>:</td>
            <td><a class="normalize" href="https://instagram.com/alf.ian_">alf.ian_</a></td>
        </tr>
        <tr>
            <td>LinkedIn</td>
            <td>:</td>
            <td><a class="normalize" href="https://www.linkedin.com/in/alfian-isnan/">/in/alfian-isnan</a></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td><a class="normalize" href="mailto:alfian.badrul@ui.ac.id">alfian.badrul@ui.ac.id</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td> <a class="normalize" href="mailto:alfian.badrul@smandak.sch.id">alfian.badrul@smandak.sch.id</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td> <a class="normalize" href="mailto:alfian@isnan.me">alfian@isnan.me</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td> <a class="normalize" href="mailto:fianshared@gmail.com">fianshared@gmail.com</a></td>
        </tr>
    </tbody>
</table>
{% endblock body%}