{% extends "base.html" %} {% block extendmenu %} {% endblock extendmenu %} {% block head %}
<link rel="stylesheet" href="/static/assets/css/home.css" /> {% endblock head %} {% block body_raw %} {% endblock body_raw %} {% block body %}
<h1 id="h-hello">
    <span id="hello">{{str.hello}},</span><br>{{profile.name}}
</h1>
<div id="profile" class="clearfix">
    <div id="profile-left">
        <div id="profile-pic">
            <img src="{{profile.url_pic}}" id="profile-photos" alt="{{profile.name}}">

            <div id="profile-role">
                <p class="bg-{{profile.role}}">{{profile.rolename}}</p>
            </div>

        </div>
        <div id="profile-status">
            ● {{str.online}}
        </div>
    </div>
    <div id="profile-right">
        <div id="profile-menu">
            {% for menu in menus %}
            <a href="{{menu.url}}" class="btn-menu">
                {% if menu.preloading%}
                <div style="display:none;">
                    <iframe src="{{menu.preloading}}"></iframe>
                </div>
                {% endif %}
                <div class="menu-wrap fast-transition frost">
                    <div class="btn-icon" style="background-color:{{menu.color}};">
                        <i class="{{menu.icon}}"></i>
                    </div>
                    <div class="btn-label">
                        {{menu.name}}
                    </div>
                    <div class="btn-left">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </a> {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}