{% extends "login.html" %} {% block loginform %}

<div id="login-socmed">
    <div id="socmed-btns-wrapper">
        <div id="socmed-btns">
            {% for login in logins%}
            <a href="{{login.link}}">
                <div data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{str.login_with}} {{login.name}}" class="socmed-btn fast-transition" style="color:{{login.color}}; background-color:{{login.bg_color}}">
                    <img id="single-socmed-btn" alt="{{login.slug}} sign-in" src={{login.icon}} />
                </div>
            </a>
            {% endfor %}
        </div>

    </div>
    <h2>{{str.lwysma}}</h2>
</div>
{% endblock loginform %} {% block scripts%}
<script src="/static/assets/js/login-smart.js"></script>
{% endblock scripts%}