    #h-login {
        font-size: 40px;
    }
    
    #login-form {
        text-align: start;
        max-width: 300px;
        margin: auto;
        display: block;
    }
    
    #login-socmed {
        margin: auto;
        display: block;
    }
    
    form {
        /* margin-top: 25px; */
        display: block;
        text-align: center;
        margin: auto;
    }
    
    form input {
        border-radius: 10px;
        border: none;
        font-family: 'pjs';
    }
    
    form input.input {
        background-color: rgba(255, 255, 255, 0.15);
        color: white;
        width: 248px;
        margin: 8px 0px;
        padding: 10px 10px 10px 40px;
    }
    
    .btn {
        --c1: #044ED8;
        --c2: #0093DD;
    }
    
    form input.btn {
        float: right;
        padding: 10px;
        width: 250px;
        font-weight: 800;
        color: white;
        display: inline;
        /* background: linear-gradient(to right, #044ED8, #0093DD); */
        transition: 0.5s;
        background: linear-gradient(to right, var(--c1), var(--c2) 51%, var(--c1)) var(--x, 0)/ 200%;
        height: 40px;
        cursor: pointer;
    }
    
    .btn:hover {
        --x: 100%;
    }
    
    form #btn-wrapper {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    
    form #to-socmed {
        border-radius: 10px;
        float: left;
        display: inline;
        padding: 10px;
        width: 20px;
        height: 20px;
        color: black;
        display: inline;
        background: white;
        cursor: pointer;
    }
    
    .input-wrapper {
        position: relative;
    }
    
    .input-wrapper i {
        left: 5%;
        top: 35%;
        position: absolute;
        color: gray;
    }
    
    #login-footer {
        margin-top: 10px;
        width: 100%;
        height: auto;
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #login-footer a {
        color: white;
        float: left
    }
    
    #login-footer label {
        float: right;
        margin: 0;
    }
    
    #login-socmed a {
        text-decoration: none;
    }
    
    .socmed-btn {
        border-radius: 10px;
        width: 40px;
        height: 40px;
        margin: 5px;
        display: inline-block;
        padding: 20px;
        /* transition: background-color 250ms; */
    }
    /* .socmed-btn:hover {
        background-color: rgba(var(--rgb), 0.5)!important;
        backdrop-filter: blur(10px);
        color: white;
    } */
    
    #google-btn {
        height: 40px;
        width: 40px;
        vertical-align: top;
    }
    
    #login-socmed h2 {
        font-weight: 400;
    }
    
    #socmed-btns {
        display: block;
    }
    
    @media screen and (max-width: 600px) {
        #h-login {
            font-size: 25px;
        }
        #login-socmed h2 {
            font-size: 15px;
        }
    }
    
    @media screen and (max-width: 450px) {
        #socmed-btns {
            padding: 0 60px;
        }
    }
    
    @media screen and (max-width: 385px) {
        #socmed-btns {
            padding: 0 20px;
        }
    }
    
    @media screen and (max-width: 310px) {
        #socmed-btns {
            padding: 0 0px;
        }
    }